html {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  display:flex;
  flex-wrap:wrap;
  font-family:"Cormorant Garamond", serif;
}
header {
  /* position:fixed; */
  width:100vw;
  height:100%;
  margin-bottom:20px;
  text-align:center;
  justify-content: center;
  background-color:#fff;
  display:flex;
  flex-direction: row;
}
@media screen { 
  nav {
    /* position:fixed; */
    width:calc(30vw - 45px);
    padding:20px;
    height:calc(75vh - 90px);
    top:calc(30px + 25vh);
    overflow-y:scroll;
    overflow-x:scroll;
  }
  main {
    /* position:fixed; */
    width:calc(70vw - 50px);
    left:30vw;
    height:calc(75vh - 90px);
    top:calc(30px + 25vh);
    padding:20px;
    overflow-y:scroll;
  }
}
@media print {
  nav {
    visibility:hidden;
    height:0px;
    padding:0px;
    margin:0px;
    border:0px;
  }  
  main {
    width:calc(100vw - 40px);
  }
}
@media not screen and (min-width:600px) {
  nav {
    visibility:hidden;
    height:0px;
    padding:0px;
    margin:0px;
    border:0px;
  }
  main {
    left:0;
    width:calc(100vw - 40px);
    /* overflow:visible; */
  }
}
img {
  margin:5px 25px 5px 5px;
  height:100%;
}
img.logo {
  height:125px;
  vertical-align:top;
  float:left;
}
div.text {
  display:flex;
  flex-direction:column;
  text-align:left;
  width:calc(90vw - 40px);
}
div.text span.links {
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
}
div.text p {
  padding:0px;
  margin:0px;
  margin-right:1em !important;
  border:0px;
}
div.softpub {
  display:flex;
  flex-direction:column;
}
p.softpub {
  margin-bottom:20px;
}
