html {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  display:block;
}
header {
  position:fixed;
  width:100%;
  height:25vh;
  text-align:center;
  justify-content: center;
  background-color:#fff;
  display:flex;
  flex-direction: row;
}
nav {
  position:fixed;
  width:calc(30vw - 40px);
  padding:20px;
  height:calc(75vh - 70px);
  top:calc(30px + 25vh);
  overflow-y:scroll;
  overflow-x:scroll;
}
main {
  position:fixed;
  width:calc(70vw - 40px);
  left:30vw;
  height:calc(75vh - 70px);
  top:calc(30px + 25vh);
  padding:20px;
  overflow-y:scroll;
}
img {
  margin:5px 25px 5px 5px;
  height:100%;
}
img.logo {
  height:125px;
  vertical-align:top;
  float:left;
}
div.text {
  display:flex;
  flex-direction:column;
  text-align:left;
}
div.text p {
  margin:0px;
}
div.softpub {
  display:flex;
  flex-direction:column;
}
p.softpub {
  margin-bottom:20px;
}
